<h1>The Gettysburg Address</h1>
Gettysburg, Pennsylvania
November 19, 1863
On June 1, 1865, Senator Charles Sumner referred to the most famous speech ever given by President Abraham Lincoln.
In his eulogy on the slain president, he called the Gettysburg Address a "monumental act."
He said Lincoln was mistaken that "the world will little note, nor long remember what we say here."
Rather, the Bostonian remarked, "The world noted at once what he said, and will never cease to remember it.
The battle itself was less important than the speech."
